@import '../../../styles/index';

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--color-border);
  z-index: 9999;
}

.progressFill {
  height: 100%;
  background: linear-gradient(90deg, $primary 0%, $secondary 100%);
  @include transition(width, 0.1s, linear);
}
